{% extends 'base.html.twig' %}

{% block title %}Carte Version{% endblock %}

{% block body %}
<div class="envelop-form">
    <div class="forms">


        <div class="partage">
            <button name="submit" class="aaa">Je partage ma carte !</button>
        </div>
        <div class="input-group">
            <input class="inputconnexion" type="email"  name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Adresse e-mail" required autofocus>
        </div>
        <div class="input-group">
            <input class="inputconnexion" type="email"  name="tel Pro" id="inputEmail" class="form-control" autocomplete="tel" placeholder="Telephone Pro" required autofocus>
        </div>
        <div class="input-group">
            <input class="inputconnexion" type="email"  name="Site internet" id="inputEmail" class="form-control" autocomplete="Site internet" placeholder="Site internet" required autofocus>
        </div>
        <div class="input-group">
            <input class="inputconnexion" type="email"  name="Adresse" id="inputEmail" class="form-control" autocomplete="Adresse" placeholder="Adresse" required autofocus>
        </div>
        <div class="input-group">
            <input class="inputconnexion" type="email"  name="Code postal" id="inputEmail" class="form-control" autocomplete="Code postal" placeholder="Code postal" required autofocus>
        </div>
        <div class="input-group">
            <input class="inputconnexion" type="email"  name="Ville" id="inputEmail" class="form-control" autocomplete="Ville" placeholder="Ville" required autofocus>
        </div>
        <div class="input-group">
            <input class="inputconnexion" type="email"  name="Pays" id="inputEmail" class="form-control" autocomplete="Pays" placeholder="Pays" required autofocus>
        </div>
        <div class="input-group">
            <input class="inputconnexion" type="email"  name="Tel" id="inputEmail" class="form-control" autocomplete="Tel" placeholder="Tel Portable" required autofocus>
        </div>
        <div class="partage">
            <button name="submit" class="aaa">Personnaliser la carte</button>
        </div>

    </div>
</div>
{% endblock %}
